{% block blog_list_posts %}
    {% for child in collection %}
        {% set blog = page %}
        {% set truncate = true %}
        {% set page = child %}
        <div class="col s12">
            <div class="mdl-blog-list-item card">
                {{ block('post_header_image') }}
                <div class="card-content">
                    {{ block('post_header_title') }}
                    {{ block('post_header_nicetime') }}
                    <div class="flow-text">
                        {{ block('post_content')}}
                    </div>
                </div>
                <div class="card-action">
                    {{ block('post_readmore') }}
                    {{ block('post_taxonomy') }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block blog_single_post %}
    {% set blog = page.parent %}
    {% set truncate = false %}
    <div class="col s12">
        <div class="mdl-blog-item card">
            {{ block('post_header_image') }}
            <div class="card-content">
                {{ block('post_header_title') }}
                {{ block('post_header_nicetime') }}
                <div class="flow-text">
                    {{ block('post_content')}}
                </div>
            </div>
        <div class="card-action">
            {{ block('post_taxonomy') }}
            {{ block('post_navigation') }}
        </div>
        </div>
    </div>
{% endblock %}

{% block post_content %}
    {% if truncate and page.header.summary.enabled %}
        {% if page.summary != page.content %}
            {{ page.summary }}
        {% else %}
            {{ page.content|truncate(550) }}
        {% endif %}
    {% else %}
        {{ page.content }}
    {% endif %}
{% endblock %}

{% block post_navigation %}
    <div class="prev-next row">
        {% if not page.isFirst %}
            <div class="col s6 left-align">
                <a class="waves-effect btn-flat" href="{{ page.nextSibling.url }}">
                    <i class="material-icons left">chevron_left</i>
                    Next Post</a>
            </div>
        {% endif %}
        {% if not page.isLast %}
            <div class="col s6 right-align">
                <a class="waves-effect btn-flat" href="{{ page.prevSibling.url }}">Previous Post
                    <i class="material-icons right">chevron_right</i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block post_readmore %}
    {% if page.summary != page.content %}
        <div class="mtl-readmore section">
            <a class="waves-effect waves-light btn" href="{{ page.url }}">Read more...</a>
        </div>
    {% endif %}
{% endblock %}

{% block post_header_title %}
    {% if page.header.link %}
            {% if page.header.continue_link is not sameas(false) %}
                <h2>
                    <a class="waves-effect wave-light" href="{{ page.url }}">
                        <i class="material-icons">link</i>
                    </a>
                </h2>
            {% endif %}
            <h2>
                <a class="waves-effect wave-light" href="{{ page.header.link }}">{{ page.title }}</a>
            </h2>
    {% else %}
            <h2>
                <a class="waves-effect wave-light" href="{{ page.url }}">{{ page.title }}</a>
            </h2>
    {% endif %}
{% endblock %}

{% block post_header_date %}
    <div class="list-blog-date grey-text text-darken-1">
        <span>{{ page.date|date("d") }}</span>
        <em>{{ page.date|date("M") }}</em>
    </div>
{% endblock %}

{% block post_header_nicetime %}
    <div class="list-blog-date grey-text text-darken-1">
        <span>{{ page.date|nicetime(false) }}</span>
    </div>
{% endblock %}

{% block post_taxonomy %}
    {% set blog = page.parent %}
    {% if page.taxonomy.tag %}
        <div class="mtl-taxonomy-tags section">
            {% for tag in page.taxonomy.tag %}
                <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">
                    <span class="chip">{{ tag }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block post_header_image %}
    {% set header_image = page.header.header_image | defined(true) %}
    {% set header_image_width = page.header.header_image_width | defined(1000) %}
    {% set header_image_height = page.header.header_image_height | defined(300) %}
    {% set header_image_file = page.header.header_image_file %}
    {% if header_image %}
        {% if header_image_file %}
            {% set header_image_media = page.media.images[header_image_file] %}
        {% else %}
            {% set header_image_media = page.media.images | first %}
        {% endif %}
    {% endif %}
    {% if header_image_media %}
    <div class="card-image">
        {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
    </div>
    {% endif %}
{% endblock %}
